<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}Give me a title{% endblock %}</title>
    {% spaceless %}
    <style>
      body { font-family: 'Ubuntu', sans-serif; font-size: 12px; background-color: #efefef }
      #page { background-color: #fff; width: 580px; margin: auto; padding: 10px; }
      pre.source { padding: 1em; font-size: .9em; border: solid 1px #ccc; background-color: #efefef; }
    </style>
    {% endspaceless %}
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="page">
      <nav> 
        <a href="/">Home</a> 
        <a href="/help">Getting started</a>
      </nav>
      {% block content %}
        Give me some content please!
      {% endblock %}
      <footer>
        <hr/>
        <p>Wheel Project &copy; Daniel Chalk {{ "now"|date("Y") }} <a href="mailto:snatchfrigate[at]gmail.com?subject=wheel">snatchfrigate[at]gmail.com</a></p>
      </footer>
    </div>
    {#  scripts go here so the page is given a change to load before the 
        scripts do.
        Stuff like jQuery, Google libs or Piwik belong here!!!
    #}
    {% block scripts %}{% endblock %}
  </body>
</html>